*{
	margin: 0px;
	padding: 0px;
}

.navbar {
	height: 80px;
	background: #25C4DA;
	width: 100%;
}
.logoContainer{
	margin-left: -25px;	
	background: url("../images/panman_logo.png") no-repeat center;
	background-size: contain;
	width: 68px;
	height: 68px;
}
.brandContainer{
	color: white;
	margin-left: -95px;
	vertical-align: center;
	
}
#brandName{
	font-weight: bold;
	font-size: 26px;
	margin: 0;
	width: 159px;
	display: inline;
}

#brandDesc{
	font-size: 26px;
	font-weight: lighter;
	margin: 0px 0px 0px 56px;
	width: 372px;
	display: inline;
}
.userInfo{
	width: 105px;
}