html,
body {
  background-color: #25c4da !important;
}
.panman-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.2rem;
  margin-right: auto;
  margin-left: 0.5rem;
  margin-block: auto;
  color: #ffffff;
}
.sign-up-header {
  display: flex;
  min-height: 10vh;
}

.sign-up-card {
  background-color: #fff;
}

.panman-logo {
  background: url("../images/panman_logo.png") no-repeat center;
  background-size: contain;
  width: 7rem;
  height: 7rem;
}

.sign-up-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
  color: #000000;
}

.form-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
  color: #000000;
}

.sign-up-form-container {
  margin-right: 3rem;
}

.sign-up-button {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  background-color: #25c4da;
  border-color: white;
}

.sign-up-button:hover {
  box-shadow: #25c4da;
  background-color: #25748a;
}
.sign-up-button:focus {
  background-color: #25e9ff;
}

.text-underline {
  text-decoration: underline;
}
